<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="3660b96e-cc1c-4db2-8dac-17c07e95636d" wadlVersion="http://wadl.dev.java.net/2009/02" name="Smartbear Library" type="rest" basePath="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description>An API example around a mock library</con:description><con:settings><con:setting id="3660b96e-cc1c-4db2-8dac-17c07e95636dfileName">Smartbear-Library</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:8045/</con:endpoint><con:endpoint>http://localhost:8088/</con:endpoint><con:endpoint>https://virtserver.swaggerhub.com</con:endpoint></con:endpoints></con:interface>