<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="83ff31a5-18b6-4a2a-a025-77ba128c872a" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://localhost:8065" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="83ff31a5-18b6-4a2a-a025-77ba128c872afileName">http%3A%2F%2Flocalhost%3A8065</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:8065</con:endpoint></con:endpoints></con:interface>