.page_header {
  background-color: grey;
  text-align: center;
  padding-top: 2px;
}

.button_row {
  display: flex;
  justify-content: space-around;
  background-color: lightgrey;
}

.header_button:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
