.page_header {
  background-color: red;
  color: white;
  text-align: center;
  padding-top: 2px;
}

.weekData {
  background-color: orange;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
